.center{
    text-align: center;
    margin-top: 4em;
    margin-bottom: 3em;
}

.search-box{
    width: 20em;
    height: 2.5em;
    font-family: 'Quicksand', sans-serif;
    border-radius: 4px !important;
    border: 3px solid white;
}

.search-box:focus {
    outline: none !important;
    border-color: white;
    box-shadow: 0 0 10px white;
}