.add-page-card{
  padding: 1.25em 1.5em;
  background: #fff;
	margin: 4em auto;
	width: 90%;
  max-width: 600px;
  border-radius: 4px;
  border: 1px solid #bbb;
  font-family: 'Quicksand', sans-serif !important;
  color: #7C3B61;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
  position: relative;
}

.separator{
  margin: 1em 0 1em;
  border : 1px solid #C3C3C3;
}

.add-page-card .container{
  padding: 0;
}

.add-div{
  align-items: center;
  display: flex;
  justify-content: center;
}

.add-btn{
  background: white;;
  color: #7C3B61 !important;
  border-radius: 4px !important;
  align-items: center;
  display: flex;
  justify-content: center;
  border-color: #7C3B61;
  width: 6em;
}

.remove-btn {
  background: white;
  color: red;
  border: none;
  border-radius: 4px !important;
  ;
}

.add-btn:hover, .add-btn:focus, .add-btn:active, .add-btn.active{
  color: #fff !important;
  background-color: #CB8EB2 !important;
  border-color: #7C3B61 !important; 
}

.save-btn{
  background: #7C3B61;
  border-color: #7C3B61 !important;
  color: white !important;
  border-radius: 4px !important;
  width: 6em;
}

.save-div{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em 0 1em;
}

.save-btn:hover, .save-btn:focus, .save-btn:active, .save-btn.active{
  color: #fff !important;
  background-color: #CB8EB2 !important;
  border-color: #7C3B61 !important; 
}

.form-row  {
  margin: 0;
}

.add-ingredients{
  overflow: auto;
  max-height: 200px;
}

.table-ingredients{
  width: 100%;
}

.add-input {
  border-radius: 0px !important;
  border: none;
  /* border-bottom: 1px solid #CB8EB2 !important; */
  margin-bottom: .5rem !important;
  position: relative;
  z-index: 3;
}

.times {
  margin-right: 1rem !important;
  width: 20%;
}

.add-input:focus, .save-btn:focus, .add-btn:focus { 
  outline: none !important;
  box-shadow: 0 1px 0 #CB8EB2;
}

.custom-file-label{
  border: none;
  border-bottom: 1px solid #CB8EB2 !important;
  border-radius: 0px !important;
}

.files-not-valid {
  border-color: red !important;
  color: red !important;
}

.custom-file {
  display: block;
}

input#Img {
  z-index: 0;
}

/* scrollbar style */
/* the scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* the progress bar of the scrollbar- chrome */
::-webkit-scrollbar-track {
  border: 1px solid #C2A9C2;
  border-radius: 10px;
}

/* draggable */
::-webkit-scrollbar-thumb {
  background: #6D586D;  
  border-radius: 10px;
}

.table-preparation {
  width: 100%;
}

.add-preparation {
  overflow: auto;
  max-height: 300px;
}

.table-preparation td:last-child {
  width: 1%;
}

.large-list {
  max-height: 50px;
  overflow-y: auto;
}

.input-row {
  padding: 15px 0;
  position: relative;
}

.label-helper {
  position: absolute;
  opacity: 0;
  transition: .2s bottom, .2s opacity;
  bottom: 25px;
  left: 0;
  z-index: 1; }

.add-input:focus + .label-helper, input:valid + label, textarea:valid + label{
  bottom: 80%;
  font-size: 14px;
  line-height: 1;
  opacity: 1;
  padding: 4px; }
.input:invalid {
  border-left: 10px solid #f00; }
  .add-input:invalid + .label-helper::after {
    color: #f00;
    content: "X";
    font-size: 14px;
    line-height: 1;
    padding-left: 12px; }

   