

.list-add-page .container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 50px;
  padding-top: 70px;
}

.list-add-page{
  visibility: visible;
  animation-name: fadeIn;
  background: linear-gradient(#4d153699,white);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 100px;
}

.btn{
  background: #7C3B61;
  border-color: #CB8EB2 !important;
  color: white !important;
  border-radius: 20px !important;
}
.save-btn{
  align-items: center;
  display: flex;
  justify-content: center;
}

.btninCenter{
  align-items: center;
  display: flex;
  justify-content: center;
}

.container .add-page {
  margin-top: 10px;
  padding-top: 0;
}