.recipe-card {
	background: #fff;
	margin: 4em auto;
	/* width: 90%;
    max-width: 600px; */
    height: 450px;
  width: 900px;
    border-radius: 4px;
    border: 1px solid #bbb;
    font-family: 'Quicksand', sans-serif;
    color: #7C3B61;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
    position: relative;
  }
 

  .thumbnail {
	float : left;
	position : relative; 
	left : 30px;
	top : -30px;
	height : 320px;
	width : 530px;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
  overflow: hidden;
}

.recipe-card  img.left{
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* Right side of the card */
.right{
	margin-left : 590px;
	margin-right : 20px;
}
.recipe-card h2{
	padding-top : 8px;
	margin-right : 6px;
	text-align : right;
	font-size : 0.8rem;
  text-transform: capitalize;
  color: #63555d !important;
}

.separator{
	margin-top : 10px;
  border : 1px solid #C3C3C3;
}

.recipe-card p{
	text-align: justify;
	padding-top : 10px;
	font-size : 0.95rem;
	line-height: 150%;
	color : #4B4B4B;
}
.recipe-card h1
{	padding-top : 15px;
	font-size : 1.3rem;
  color : #4B4B4B;
    font-weight: 900 !important;
    text-transform: capitalize;
}
.recipe-card ul{
  margin-left : 250px;
}

.recipe-card li{
	display: inline;
	list-style: none;
	padding-right: 40px;
  color : #7B7B7B;
}

/* 
aside {
    position: relative;
}

.recipe-card img {
	width: 100%;
    height: auto;
    max-height: 320px;
    vertical-align: bottom;
    border-radius: 4px;
}

article{
    padding: 1.25em 1.5em;
}


.recipe-card h2,
.recipe-card h3 {
margin: 0;
margin-bottom: 0.6em !important;
text-align: center;
text-transform: capitalize;
}

.recipe-card h2 {
    font-size: 2.5em !important;
    font-weight: 900 !important;
    
}

.recipe-card h3 {
    font-size: 1.25em !important;
    color: #63555d !important;
}


  .recipe-card article ul {
    list-style: none;
    margin: 0.5em 0 0;
    padding: 0;
  }
  .recipe-card article ul li {
    display: inline-block;
    line-height: 1em;
    margin: 5px;
  }

.title{
    margin: 1.25em 0;
    font-size: 1.15em;
    font-weight: 400;
    color: #63555d !important;
}

.text {
    margin-left: 15px;
}
.ingredients {
    margin: 1em 0 0.5em;
}

.preparation {
    margin: 1em 0 0.5em;
} */