body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4d153699 !important;
  justify-content:center;
  align-items: center;
  /* 212121 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.footer {
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 60px; 
  background-color: #2C272A;
  margin-top: 10px;
}