.navbar{
    background-color: #2C272A!important;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
}


.navbar-brand {
    padding: 0;
}

#logOut {
    color: gray;
    cursor: pointer;
}