.center{
    text-align: center;
    margin-top: 25px;
}

input{
    width: 200px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 4px !important;
    border-color: #CB8EB2 !important;
    height: 40px;
    width:  220px;
}

input:focus {
    outline-color: #7C3B61;
    outline-style: auto;
}