.login-btn:hover, .login-btn:focus, .login-btn:active, .login-btn.active{
        color: #fff !important;
        background-color: #CB8EB2 !important;
        border-color: #7C3B61 !important; 
}

.login-btn{
    background: #7C3B61;
    border-color: #CB8EB2 !important;
    color: white !important;
    border-radius: 20px !important;
    display: block;
  }

  .container_login{
    padding-top: 12em;
  }


  .login-card {
    height: 350px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }

  .brand_logo_container {
    position: absolute;
    height: 200px;
    width: 200px;
    top: -90px;
    border-radius: 50%;
    background: #2C272A;
    padding: 10px;
    text-align: center;
  }

  .brand_logo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
  }