.navbar{
    background-color: #2C272A!important;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
}

.navbar-brand {
    padding: 0;
}

.nav-icon {
    animation: logo-spin 7s linear;
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } 
  

#logOut {
    color: gray;
    cursor: pointer;
}

#searchInput {
    width: 13em;
    height: 2em;
    margin-right: 1.5em;
    border-color: #CB8EB2;
}

.search-icon {
    color: #CB8EB2;
}

.input-group {
    margin-right: 2em;
}

#searchInput:focus{ 
    outline: none !important;
    border-color: #CB8EB2;
    box-shadow: 0 0 10px #CB8EB2;
}

#userName:hover {
    color: #CB8EB2;
}