.main-card{
  background-color: white;
  position: relative;
  border-radius: 4px;
  border: 3px solid white;
  font-size: small;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.3s linear;   
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
}

.main-card aside {
  position: relative;
  height: 100%;
}

.imgBx {
  width: 100%;
  border-radius: 0px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-card:hover .imgBx .overlay,  .imgBx .overlay {
  background-color: rgba(242, 244, 248, 0.85);
  transition: opacity .2s ease;
  opacity: 1;
}

.imgBx .overlay {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  padding: 120px 0;
}

.imgBx .overlay .overlay-content {
  width: 100%;
  text-align: center;
  color: #fff;
}
.imgBx .overlay .overlay-content a {
  padding-left: 2em;
  cursor: pointer;
  text-decoration: none;
}

.double-size-col {
  grid-column: span 2;
}

.double-size-row {
  grid-row: span 2;
} 

@media screen and (max-width: 600px) {
  .double-size-col  {
    grid-column: span 1;
  }
}

@media screen and (max-width: 1000px) {
  .double-size-row {
    grid-row: span 1;
  } 
}
.fa-icon {
  height: 3em;
  width: 3em;
  cursor: pointer;
  color: brown;
}

.view-icon {
  height: 3em;
  width: 3em;
  color: black;
}

.details{
  padding-top: 50px;
  /* position: absolute;
  left: 10px;
  right: 10px;
  bottom: 50px;
  height: 65px; */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details h2 a{
  margin: 0;
  padding-left: 0 !important;
  font-weight: 600;
  font-size: 20px;
  /* color: #777; */
  text-transform: uppercase;
} 

.details h2 a span{
  font-weight: 600;
  font-size: 20px;
  color: #777;
  /* display: block;
  margin-top: 5px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #CB8EB2;
  display: block;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

